h1 {
  background-color: aqua;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
body {
  background-color: white;
}
.covidData {
  background-color: black;
  width: 96%;
  height: 50%;
  margin: auto;
  margin-top: 15px;
  border-radius: 6px;
  padding: 10px;
}

/* input stylings */

.covidData__form {
  padding: 10px;
  margin: 20px;
}
.covidData__input input {
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
/* input{
    margin: auto;
    display: block;
} */
div {
  text-align: center;
}
.covidData__input button {
  width: 120px;
  height: 50px;
  margin-top: 8px;
  margin-left: 20px;
  background-color: rgb(86, 8, 243);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgb(71, 67, 67);
  cursor: pointer;
}

/* detail stylings */

.covidData__country__info {
    display: flex;
    /* display: inline; */
    /* flex-wrap: wrap; */
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* height: auto; */
  height: 50%;
  /* padding-left: 10px; */
  background-color: black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(71, 67, 67);
  /* box-shadow: 5px 5px 5px rgb(71, 67, 67); */
  /* display: none; */
}
/* p{
    background-color: blue;
} */
.Country{
    border: 2px solid blue;
    background-color: rgb(68, 0, 255);
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px;
    width:180px ;
}
.Cases{
    border: 2px solid rgb(163, 241, 7);
    background-color: rgb(163, 247, 7);
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px; 
    width:180px ;
}
.Deaths{
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px;
    width:180px ;
}
.Recovered{
    border: 2px solid rgb(5, 244, 97);
    background-color:  rgb(5, 244, 97);
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px;
    width:180px ;
}
.CasesToday{
    border: 2px solid rgb(163, 241, 7);
    background-color: rgb(163, 247, 7);
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px;
    width:180px ;
}
.DeathsToday{
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 5px;
    height: 70px;
    color: white;
    margin-right: 5px;
    width:180px ;
}
.RecoveredToday{
    border: 2px solid rgb(5, 244, 97);
    background-color:  rgb(5, 244, 97);
    border-radius: 5px;
    height: 70px;
    color: white;
    width:190px ;

}